body {text-align: center;}

.inside {display: inline-block;
          width: 350px;
          height: 300px;
          background-color: #AE642D;}

header h1 {background-color: grey;}

section h2 {background-color: green;}

.outdor {background-color: #34C924;
     height: 20px;
     width: 100px;}

.indor {background-color: red;
     height: 20px;
     width: 100px;}

li {margin-top: 30px;
    width: 300px;
    text-align: left;
    text-decoration: line-through;}

.inset {margin-top: 30px;
    width: 300px;
    text-align: left;
     text-decoration: none;}    

img {width: 150px;
     height: 150px;}

.inline {width: 320px;
	     height: 30px;
	     background-color: yellow;
         padding-right: 30px;
         font-size: 15px;} 

.outside {width: 30px;
          height: 30PX;
          float: left;
           padding-top: 15px;
           padding-left: 30px;}

div {border: 2px solid red;
     border-radius: 5px;
     box-shadow: 0px 0px 5px blue;}

.azert {height: 40px;
        width: 40px;}     