body {text-align: center;
      background-image:url(./img/octofd.jpg);
       background-size: 100% 100%;
       background-repeat:no-repeat;
       background-attachment:fixed;}

       /*--- Article---*/
.inside {display: inline-block;
          width: 350px;
          height: 300px;
          background-color: #91283B;
         border: 5px solid #0F056B;
         border-radius: 25px 25px 50px 50px;
         opacity: 0.9;}

header h1 {background-color: #0F056B;
          border: 5px solid #6600FF;
          border-radius: 7px;
          color: #0131B4;}

      /*----h2----*/
.aze {background-color: #6600FF;
      border:4px solid #0131B4;
      border-radius: 20px;
      color: #0F056B;
      text-shadow: 2px 2px black;
       opacity: 0.7;}

       /*----div----*/
.outdor {background-color: #34C924;
     height: 20px;
     width: 100px;
      margin-left: 10px;}

       /*----div liste----*/
.indor {background-color: red;
     height: 20px;
     width: 100px;
      margin-left:10px;}

li {margin-top: 30px;
    width: 300px;
    text-align: left;
    text-decoration: line-through;}

         
li:hover {color: white;
          text-decoration: none;
          font-weight: bold; }

        /*----li----*/
.inset {margin-top: 30px;
    width: 300px;
    text-align: left;
     text-decoration: none;}    

img {width: 0px;
     height: 0px;}

       /*---h3---*/
.inline {width: 320px;
	     height: 30px;
	     background-color: #723E64;
         padding-right: 30px;
         font-size: 15px;
         border-top: 2px solid #6600FF;
          border-bottom: 2px solid #6600FF;
          text-shadow: 2px 2px blue;} 
         

         /*----img(icon)----*/
.outside {width: 30px;
          height: 30PX;
          float: left;
           padding-top: 17px;
           padding-left: 30px;}

div {border: 2px solid red;
     border-radius: 5px;
     box-shadow: 0px 0px 5px blue;}

        /*---img gmail,twitter---*/
.azert {height: 40px;
        width: 40px;}     

a:hover {color: white;}        

        /*--- img cligno----*/
.disp {height: 40px;
       width: 40px;
       float: left;
       padding-left: 320px;
       padding-top: 5px;}

.dispe {height: 40px;
        width: 40px;
        float: right;
        padding-right: 320px;
        padding-top: 5px;}        

.disp {animation:fading 7s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.dispe {animation:fading 7s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}        